* {
    font-family: Arial, Helvetica, sans-serif;    
}

.container {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    width: fit-content;
    min-width: 450px;
}

.dateTitle {
    min-width: 75px;
}

.titleRow {
    font-weight: bold;
    padding-bottom: 10px;
}

.resultRow {
    padding-top: 10px;
}

.execute {
    margin-right: 5px;
    width: 100px;
    text-align: center;
}

table td {
    text-align: left;        
    vertical-align: middle;
}